* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px dashed red;
}

body {
    font-family: "Open Sans", sans-serif;
}

.bot-section {
    background-color: grey;
    height: 100px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-section {
    background-color: lightcoral;
    height: calc(100svh - 100px);
    display: flex;
}

.navbar {
    width: 200px;
    background-color: black;
}

.main-section {
    background-color: lightgreen;
    width: calc(100svw - 200px);
    overflow-y: scroll;
}

header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.452);
    width: calc(100svw - 200px);
}

header h3 {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

#top-list {
    margin-top: 70px;
}

.container {
}

.cover {
    width: 100%;
    background-color: lightseagreen; 
}

.img-cover {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

#top-list ul li {
    margin: 0 10px;
    color: #7D7F84;
    font-weight: bold;
    font-size: 15px;
}

#top-list ul li:hover {
    color: white;
}

.over {
    width: 100%;
    height: 97%;
    background-image: url(../img/circle-play-regular.svg);
    background-color: rgba(0, 0, 0, 0.479);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
}

.hide {
    display: none;
}

.cover:hover .hide {
    display: block;
}

/* COLONNE */

.col-33{
    width: 33%;
    background-color: black;
}

.col-50 {
    width: 50%;
    background-color: lightseagreen;
    padding: 10px 5px;
}

/* DISPLAY */

.disp-f {
    display: flex;
}

.flex-w {
    flex-wrap: wrap;
}

/* POSITION */

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* TEXT ALIGN */

.ta-left {
    text-align: left;
}

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}

/* TEXT COLOR */

.c-white {
    color: white;
}

/* JUSTIFY CONTENT */

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

/* ALIGN */

.ai-center {
    align-items: center;
}

/* MARGIN */

.m-r-10 {
    margin-right: 10px;
}

/* H TEST */

.h-50 {
    height: 50px;
}

.h-100 {
    height: 100px;
}

.h-150 {
    height: 150px;
}

.h-200 {
    height: 200px;
}

/* MEDIA */

@media screen and (max-width: 992px) {
    .col-33 {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .col-33 {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        width: 50px;
    }

    .main-section {
        width: calc(100svw - 50px);
    }

    header {
        width: calc(100svw - 50px);
        left: 50px;
    }
}